/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #28b76b;
  --ifm-color-primary-dark: #28b76b;
  --ifm-color-primary-darker: #28b76b;
  --ifm-color-primary-darkest: #28b76b;
  --ifm-color-primary-light: #28b76b;
  --ifm-color-primary-lighter: #28b76b;
  --ifm-color-primary-lightest: #28b76b;
  --ifm-code-font-size: 95%;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #28b76b;
  --ifm-color-primary-dark: #28b76b;
  --ifm-color-primary-darker: #28b76b;
  --ifm-color-primary-darkest: #28b76b;
  --ifm-color-primary-light: #28b76b;
  --ifm-color-primary-lighter: #28b76b;
  --ifm-color-primary-lightest: #28b76b;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
.header{
  width: 100%;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.foo{
  
}